In [1]:
import pandas as pd
import requests
import datetime
import time
import json

In [2]:
response = requests.get('https://api.coingecko.com/api/v3/indexes/list')

In [3]:
response = requests.get('https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range',params={"vs_currency":"usd","from":"1563600992","to":"1658295392"})

In [4]:
id1 = ["bitcoin","wrapped-bitcoin","ethereum","kava","secret","akash-network","usd-coin","tether","dai","cosmos"]
id2 = ["osmosis","juno-network","crypto-com-chain","cardano","ripple","solana","dogecoin","polkadot","shiba-inu","matic-network"]

In [5]:
response = list
for i in id1:
    response = requests.get('https://api.coingecko.com/api/v3/coins/'+i+'/market_chart',params={"vs_currency":"usd","days":"max","interval":"daily"})
    with open("prmc24vol_"+i+".json", "w") as outfile:
        json.dump(response.json(),outfile)

In [6]:
response = list
for i in id2:
    response = requests.get('https://api.coingecko.com/api/v3/coins/'+i+'/market_chart',params={"vs_currency":"usd","days":"max","interval":"daily"})
    with open("prmc24vol_"+i+".json", "w") as outfile:
        json.dump(response.json(),outfile)

In [7]:
response = list
for i in id1:
    response = requests.get('https://api.coingecko.com/api/v3/coins/'+i+'/ohlc',params={"vs_currency":"usd","days":"max"})
    with open("ohlc_"+i+".json", "w") as outfile:
        json.dump(response.json(),outfile)

In [8]:
response = list
for i in id2:
    response = requests.get('https://api.coingecko.com/api/v3/coins/'+i+'/ohlc',params={"vs_currency":"usd","days":"max"})
    with open("ohlc_"+i+".json", "w") as outfile:
        json.dump(response.json(),outfile)

In [23]:
df = pd.read_json("prmc24vol_ethereum.json")

In [24]:
df[["timestamp","price"]]=df["prices"].tolist()
df[["timestampmc","market_caps"]]=df["market_caps"].tolist()
df[["timestamptv","total_volumes"]]=df["total_volumes"].tolist()
df_btc = df[["timestamp","price","market_caps","total_volumes"]]
df_btc

         timestamp        price   market_caps  total_volumes
0     1.438906e+12     2.831620  0.000000e+00   9.062200e+04
1     1.438992e+12     1.330750  8.033948e+07   3.680700e+05
2     1.439165e+12     0.687586  4.155631e+07   4.004641e+05
3     1.439251e+12     1.067379  6.453901e+07   1.518998e+06
4     1.439338e+12     1.256613  7.601326e+07   2.073893e+06
...            ...          ...           ...            ...
2536  1.658102e+12  1344.720284  1.615512e+11   1.579765e+10
2537  1.658189e+12  1570.658959  1.875189e+11   2.643729e+10
2538  1.658275e+12  1542.629821  1.842991e+11   2.774909e+10
2539  1.658362e+12  1527.413931  1.833833e+11   2.172813e+10
2540  1.658380e+12  1487.385763  1.782162e+11   2.216586e+10

[2541 rows x 4 columns]

In [25]:
df_btc = df[["timestamp","price","market_caps","total_volumes"]]

In [26]:
df_btc = df_btc[1543:3370]

In [27]:
df_btc

         timestamp        price   market_caps  total_volumes
1543  1.572307e+12   181.861800  1.966587e+10   1.080243e+10
1544  1.572394e+12   190.505961  2.063086e+10   1.085811e+10
1545  1.572480e+12   183.133751  1.984455e+10   1.047556e+10
1546  1.572566e+12   182.755701  1.980299e+10   1.067741e+10
1547  1.572653e+12   183.064191  1.984184e+10   8.966994e+09
...            ...          ...           ...            ...
2536  1.658102e+12  1344.720284  1.615512e+11   1.579765e+10
2537  1.658189e+12  1570.658959  1.875189e+11   2.643729e+10
2538  1.658275e+12  1542.629821  1.842991e+11   2.774909e+10
2539  1.658362e+12  1527.413931  1.833833e+11   2.172813e+10
2540  1.658380e+12  1487.385763  1.782162e+11   2.216586e+10

[998 rows x 4 columns]

In [28]:
df_test = pd.read_json("test.json")
df_test[["timestamp","open","high","low","close"]] =df_test
df_test = df_test[["timestamp","open","high","low","close"]]
df_test

ValueError: Unexpected character found when decoding 'true'

In [29]:
df_btc_all = pd.merge(df_btc,df_test, how="left", on="timestamp")

NameError: name 'df_test' is not defined

In [30]:
df_btc_all[0:20]

NameError: name 'df_btc_all' is not defined

In [58]:
df_btc_all.interpolate(method='linear')[-20:]

,timestamp,price,market_caps,total_volumes,open,high,low,close
1807,1.656720e+12,19407.447430,3.709165e+11,2.875678e+10,19989.426667,19989.426667,19548.3300,19548.3300
1808,1.656806e+12,19268.227003,3.677067e+11,1.560172e+10,19608.400000,19608.400000,19268.2300,19268.2300
1809,1.656893e+12,19310.233219,3.685494e+11,1.397697e+10,19533.857500,19847.972500,19278.7300,19592.8450
1810,1.656979e+12,20257.012329,3.864252e+11,1.863486e+10,19459.315000,20087.545000,19289.2300,19917.4600
1811,1.657066e+12,20188.779664,3.853018e+11,2.362327e+10,19384.772500,20327.117500,19299.7300,20242.0750
1812,1.657152e+12,20566.687224,3.924798e+11,2.175550e+10,19310.230000,20566.690000,19310.2300,20566.6900
1813,1.657238e+12,21660.596837,4.140556e+11,2.192709e+10,19897.822500,20889.722500,19697.6250,20639.9700
1814,1.657325e+12,21858.818749,4.176903e+11,4.664540e+10,20485.415000,21212.755000,20085.0200,20713.2500
1815,1.657411e+12,21589.628101,4.124598e+11,2.621159e+10,21073.007500,21535.787500,20472.4150,20786.5300
1816,1.657498e+12,20859.814080,3.982495e+11,2.503795e+10,21660.600000,21858.820000,20859.8100,20859.8100
1817,1.657584e+12,19998.467840,3.820003e+11,2.131947e+10,21245.067500,21537.825000,20482.5425,20788.5675
1818,1.657670e+12,19350.737350,3.701918e+11,2.207497e+10,20829.535000,21216.830000,20105.2750,20717.3250
1819,1.657757e+12,20225.238664,3.854626e+11,2.856000e+10,20414.002500,20895.835000,19728.0075,20646.0825
1820,1.657843e+12,20574.840592,3.931043e+11,2.873241e+10,19998.470000,20574.840000,19350.7400,20574.8400
1821,1.657930e+12,20794.811981,3.972852e+11,4.654225e+10,20197.555000,21029.972500,19711.7575,21029.9725
1822,1.658016e+12,21193.083343,4.047056e+11,4.205110e+10,20396.640000,21485.105000,20072.7750,21485.1050
1823,1.658102e+12,20824.362752,3.976606e+11,2.961579e+10,20595.725000,21940.237500,20433.7925,21940.2375
1824,1.658189e+12,22395.365383,4.257567e+11,5.863673e+10,20794.810000,22395.370000,20794.8100,22395.3700
1825,1.658275e+12,23366.907698,4.458890e+11,5.733822e+10,20794.810000,22395.370000,20794.8100,22395.3700
1826,1.658362e+12,23313.296732,4.461300e+11,4.077572e+10,20794.810000,22395.370000,20794.8100,22395.3700

In [10]:
id1 = ["bitcoin","wrapped-bitcoin","ethereum","kava","secret","akash-network","usd-coin","tether","dai","cosmos","osmosis","juno-network","crypto-com-chain","cardano","ripple","solana","dogecoin","polkadot","shiba-inu","matic-network"]
allcaps = pd.DataFrame()
for ids in id1:
    df_1 = requests.get('https://api.coingecko.com/api/v3/coins/'+ids+'/market_chart',params={"vs_currency":"usd","days":"max","interval":"daily"})
    df_2 = requests.get('https://api.coingecko.com/api/v3/coins/'+ids+'/ohlc',params={"vs_currency":"usd","days":"max"})
    
    
    #prepare p1 of the main dataframe
    df_1[["timestamp","price"]]=df_1["prices"].tolist()
    df_1[["timestampmc","market_caps"]]=df_1["market_caps"].tolist()
    df_1[["timestamptv","total_volumes"]]=df_1["total_volumes"].tolist()
    df_1 = df_1[["timestamp","price","market_caps","total_volumes"]]

    #prepare p2 of the main dataframe
    df_2[["timestamp","open","high","low","close"]] =df_2
    df_2 = df_2[["timestamp","open","high","low","close"]]
    
    #merge dataframes 
    df_all = pd.merge(df_1,df_2, how="left", on="timestamp")
    
    #add symbol column
    df_all["symbol"] = ids
    
    #linear interpolation
    df_all = df_all.interpolate(method="linear")
    
    #chanege unix date to real date 
    df_all["timestamp"] = df_all["timestamp"].apply(lambda x: x/1000)
    df_all["timestamp"] = df_all["timestamp"].apply(datetime.datetime.fromtimestamp)

    #cut last 5 years
    df_all = df_all[-365*5+1:]
    
    allcaps = allcaps.append(df_all,ignore_index = "True", verify_integrity = "True")
    with open("all_"+ids+".json", "w") as outfile:
        json.dump(df_all.to_json(),outfile)

allcaps.to_csv("allcaps.csv")

In [6]:
assets = ["bitcoin","wrapped-bitcoin","ethereum","kava","secret","akash-network","usd-coin","tether","dai","cosmos","osmosis","juno-network","crypto-com-chain","cardano","ripple","solana","dogecoin","polkadot","shiba-inu","matic-network"]
days = 730
mp_all = pd.DataFrame()
for ids in assets:
    df_1 = requests.get('https://api.coingecko.com/api/v3/coins/' + ids + '/market_chart',
                        params={"vs_currency": "usd", "days": "max", "interval": "daily"})
    df_2 = requests.get('https://api.coingecko.com/api/v3/coins/' + ids + '/ohlc',
                        params={"vs_currency": "usd", "days": "max"})
    df_1 = pd.DataFrame.from_dict(df_1.json())
    df_2 = pd.DataFrame.from_dict(df_2.json())
    # prepare p1 of the main dataframe
    df_1[["MP_timestamp", "MP_price_in_stable"]] = df_1["prices"].tolist()
    df_1[["timestampmc", "MP_marketcap"]] = df_1["market_caps"].tolist()
    df_1[["timestamptv", "MP_volume"]] = df_1["total_volumes"].tolist()
    df_1 = df_1[["MP_timestamp", "MP_price_in_stable", "MP_marketcap", "MP_volume"]]
    # prepare p2 of the main dataframe
    df_2[["MP_timestamp", "MP_price_open", "MP_price_high", "MP_price_low", "MP_price_close"]] = df_2
    df_2 = df_2[["MP_timestamp", "MP_price_open", "MP_price_high", "MP_price_low", "MP_price_close"]]
    # merge dataframes
    df_all = pd.merge(df_1, df_2, how="left", on="MP_timestamp")
    # add symbol column
    df_all["MP_asset_symbol"] = ids
    # linear interpolation
    df_all = df_all.interpolate(method="linear")

    # chanege unix date to real date
    df_all["MP_timestamp"] = df_all["MP_timestamp"].apply(lambda x: x / 1000)
    df_all["MP_timestamp"] = df_all["MP_timestamp"].apply(datetime.datetime.fromtimestamp)
    # cut last x days
    df_all = df_all[-days-2:-1]
    mp_all = mp_all.append(df_all, ignore_index="True", verify_integrity="True")

MP_Asset_State = mp_all[["MP_asset_symbol", "MP_timestamp", "MP_price_open", "MP_price_high", "MP_price_low", "MP_price_close", "MP_volume","MP_marketcap"]]
MP_Asset_Stable = mp_all[["MP_asset_symbol", "MP_timestamp", "MP_price_in_stable"]]

In [8]:
MP_Asset_State.to_csv("MP_ASSET_STATE.csv")
MP_Asset_Stable.to_csv("MP_ASSET_STABLE.csv")

In [ ]:
MP_Asset_State.query("MP_asset_symbol == 'bitcoin'")

In [66]:
df_btc_all["symbol"] = "bitcoin"
df_btc_all

,timestamp,price,market_caps,total_volumes,open,high,low,close,symbol
0,1.500595e+12,2658.074912,4.375577e+10,8.566538e+08,NaN,NaN,NaN,NaN,bitcoin
1,1.500682e+12,2802.347887,4.613631e+10,6.313461e+08,NaN,NaN,NaN,NaN,bitcoin
2,1.500768e+12,2731.604007,4.497753e+10,5.328742e+08,2766.83,2802.35,2658.07,2731.60,bitcoin
3,1.500854e+12,2751.347070,4.530874e+10,3.569702e+08,NaN,NaN,NaN,NaN,bitcoin
4,1.500941e+12,2563.747895,4.222400e+10,7.933823e+08,NaN,NaN,NaN,NaN,bitcoin
...,...,...,...,...,...,...,...,...,...
1822,1.658016e+12,21193.083343,4.047056e+11,4.205110e+10,NaN,NaN,NaN,NaN,bitcoin
1823,1.658102e+12,20824.362752,3.976606e+11,2.961579e+10,NaN,NaN,NaN,NaN,bitcoin
1824,1.658189e+12,22395.365383,4.257567e+11,5.863673e+10,20794.81,22395.37,20794.81,22395.37,bitcoin
1825,1.658275e+12,23366.907698,4.458890e+11,5.733822e+10,NaN,NaN,NaN,NaN,bitcoin
1826,1.658362e+12,23313.296732,4.461300e+11,4.077572e+10,NaN,NaN,NaN,NaN,bitcoin

In [32]:
df_ohl_btc= df
df_ohl_btc[["timestamp","open","high","low","close"]]=df_ohl_btc
df_ohl_btc = df_ohl_btc[["timestamp","open","high","low","close"]]
df_ohl_btc

ValueError: Columns must be same length as key

In [20]:
df_all_btc = pd.merge(df_ohl_btc,df_btc, how="inner", on="timestamp")

In [34]:

df_all_btc["timestamp"] = df_all_btc["timestamp"].apply(lambda x: x/1000)
df_all_btc["timestamp"]

0      1.367280e+09
1      1.367539e+09
2      1.367885e+09
3      1.368230e+09
4      1.368576e+09
           ...
874    1.656806e+09
875    1.657152e+09
876    1.657498e+09
877    1.657843e+09
878    1.658189e+09
Name: timestamp, Length: 879, dtype: float64

In [37]:
df_all_btc["timestamp"] = df_all_btc["timestamp"].apply(datetime.datetime.fromtimestamp)

TypeError: an integer is required (got type Timestamp)

In [38]:
df_all_btc

,timestamp,open,high,low,close,price,market_caps,total_volumes
0,2013-04-30 03:00:00,135.30,141.96,135.30,135.30,135.300000,1.501657e+09,0.000000e+00
1,2013-05-03 03:00:00,117.00,117.00,91.01,91.01,91.010000,1.011066e+09,0.000000e+00
2,2013-05-07 03:00:00,111.25,118.33,106.40,106.40,106.400000,1.183766e+09,0.000000e+00
3,2013-05-11 03:00:00,112.64,118.78,112.64,113.01,113.010000,1.259239e+09,0.000000e+00
4,2013-05-15 03:00:00,114.71,117.18,114.16,114.16,114.156000,1.273850e+09,0.000000e+00
...,...,...,...,...,...,...,...,...
874,2022-07-03 03:00:00,19608.40,19608.40,19268.23,19268.23,19268.227003,3.677067e+11,1.560172e+10
875,2022-07-07 03:00:00,19310.23,20566.69,19310.23,20566.69,20566.687224,3.924798e+11,2.175550e+10
876,2022-07-11 03:00:00,21660.60,21858.82,20859.81,20859.81,20859.814080,3.982495e+11,2.503795e+10
877,2022-07-15 03:00:00,19998.47,20574.84,19350.74,20574.84,20574.840592,3.931043e+11,2.873241e+10
878,2022-07-19 03:00:00,20794.81,22395.37,20794.81,22395.37,22395.365383,4.257567e+11,5.863673e+10

In [52]:
response = requests.get('https://api.coingecko.com/api/v3/coins/bitcoin/ohlc',params={"vs_currency":"usd","days":"max"})
with open("test.json", "w") as outfile:
    json.dump(response.json(),outfile)
response = requests.get('https://api.coingecko.com/api/v3/coins/bitcoin/market_chart',params={"vs_currency":"usd","days":"max","interval":"daily"})
with open("test_pw.json", "w") as outfile:
    json.dump(response.json(),outfile)

In [53]:
df_test = pd.read_json("test.json")
df_test_pw = pd.read_json("test_pw.json")

In [55]:
df_test

,prices,market_caps,total_volumes
0,"[1367107200000, 135.3]","[1367107200000, 1500517590]","[1367107200000, 0]"
1,"[1367193600000, 141.96]","[1367193600000, 1575032004.0]","[1367193600000, 0.0]"
2,"[1367280000000, 135.3]","[1367280000000, 1501657493.0]","[1367280000000, 0.0]"
3,"[1367366400000, 117.0]","[1367366400000, 1298951550.0]","[1367366400000, 0.0]"
4,"[1367452800000, 103.43]","[1367452800000, 1148667722.0]","[1367452800000, 0.0]"
...,...,...,...
3366,"[1658102400000, 20824.36275165164]","[1658102400000, 397660610560.5498]","[1658102400000, 29615794461.49923]"
3367,"[1658188800000, 22395.365383103952]","[1658188800000, 425756736660.6174]","[1658188800000, 58636734705.48306]"
3368,"[1658275200000, 23366.90769792785]","[1658275200000, 445889013251.1064]","[1658275200000, 57338223361.51413]"
3369,"[1658361600000, 23313.296731959555]","[1658361600000, 446130012149.91077]","[1658361600000, 40775718993.79776]"
3370,"[1658402822000, 22803.97418147473]","[1658402822000, 435495579381.3288]","[1658402822000, 48937473928.35058]"

In [63]:
try:
    df_test[0] = df_test[0].apply(lambda x: x/1000)
    df_test[0] = df_test[0].apply(datetime.datetime.fromtimestamp)
except:
    print("OK")

df_test_pw[["timestamp","price"]]=df_test_pw["prices"].tolist()
df_test_pw[["timestampmc","market_caps"]]=df_test_pw["market_caps"].tolist()
df_test_pw[["timestamptv","total_volumes"]]=df_test_pw["total_volumes"].tolist()
df_test_pw = df_test_pw[["timestamp","price","market_caps","total_volumes"]]

try:
    df_test_pw["timestamp"] = df_test_pw["timestamp"].apply(lambda x: x/1000)
    df_test_pw["timestamp"] = df_test_pw["timestamp"].apply(datetime.datetime.fromtimestamp)
except:
    print("OK")

OK

KeyError: 'prices'

In [2]:
df_test = pd.read_csv("allcaps.csv")

In [3]:
df_test.apply

,Unnamed: 0,timestamp,price,market_caps,total_volumes,open,high,low,close,symbol
0,0,2017-07-25 03:00:00.000,2563.747895,4.222400e+10,7.933823e+08,2759.090000,2776.850000,2582.730000,2690.520000,bitcoin
1,1,2017-07-26 03:00:00.000,2507.389685,4.130044e+10,5.830464e+08,2755.220000,2764.100000,2545.060000,2669.980000,bitcoin
2,2,2017-07-27 03:00:00.000,2649.441201,4.364540e+10,4.383910e+08,2751.350000,2751.350000,2507.390000,2649.440000,bitcoin
3,3,2017-07-28 03:00:00.000,2798.829313,4.611159e+10,1.248796e+09,2763.220000,2781.355000,2560.567500,2704.922500,bitcoin
4,4,2017-07-29 03:00:00.000,2720.102263,4.481984e+10,8.623552e+08,2775.090000,2811.360000,2613.745000,2760.405000,bitcoin
...,...,...,...,...,...,...,...,...,...,...
23425,23425,2022-07-18 03:00:00,0.753853,6.071112e+09,8.646726e+08,0.669659,0.895901,0.664163,0.895901,matic-network
23426,23426,2022-07-19 03:00:00,0.959536,7.652866e+09,2.458673e+09,0.704776,0.959536,0.704776,0.959536,matic-network
23427,23427,2022-07-20 03:00:00,0.925175,7.391065e+09,1.329366e+09,0.704776,0.959536,0.704776,0.959536,matic-network
23428,23428,2022-07-21 03:00:00,0.836452,6.736796e+09,1.402500e+09,0.704776,0.959536,0.704776,0.959536,matic-network
23429,23429,2022-07-21 18:24:39,0.878442,7.033516e+09,1.727770e+09,0.704776,0.959536,0.704776,0.959536,matic-network